.form {
  display: flex;
  flex-direction: column;

  /* border: 1px solid black; */
}
.form-label {
  margin-top: 10px;

  font-weight: 500;
  font-size: 28px;
}
.form-input {
  height: 30px;
  font-weight: 400;
  font-size: 22px;
}

.form-button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}
.form-button:hover {
  background-color: rgb(50, 117, 206);
  color: white;
}
